.cart {
    margin-left: 100px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
}

.cart-container {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px ;



  .cart-item {
      width: 100vw;
      display: grid;
      grid-template-columns: 1fr 2fr 3fr 2fr;
      margin-top: 20px;
      align-items: center;

      .delete-btn {
          border: none;
          background-color: transparent;
          font-size: 2em;
          transition: 0.5s ease-in-out;

          &:hover {
              color: red;
          }
      }


      .cart-image-wrapper img {
          width: 150px;
          height: 150px;
          border-radius: 3px;
      }
  }

  .submit-order-btn {
      margin-top: 30px;
      width: 30%;
      height: 50px;
      border: none;
      background-color: darkgrey;
      color: white;
      border-radius: 4px;
      font-size: 1.4em;
      transition: 0.5s ease-in-out;

      &:hover {
          color: aquamarine;
      }
  }
}

.submit-order-message-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .cart-total-wrapper {
      margin-top: 40px;
      font-size: 1.2em;
  }

  .checkout-btn {
      margin-top: 50px;
      font-size: 1.2em;
      width: 30%;
      height: 50px;
      border: none;
      background-color: darkgrey;
      color: white;
      border-radius: 4px;
      transition: 0.5s ease-in-out;

      &:hover {
          color: aquamarine;
      }
  }
}

.empty-cart {
  margin-top: 150px;
  height: 37vh;
}

@media screen and(max-width: 850px) {
    .cart {
        margin-left: 10px;
    }

}
    
