
.column {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.column img {
  width: 100%;
}

.column .color {
  position: relative;
  overflow: hidden;
}

.color img{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: all 1s ease;
  }

.color .caption {
  margin: 0;
  padding: 1.5em;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  box-sizing: border-box;
  transition: transform 0.5s;
  transform: translateY(100%);
  background: rgba(0, 0, 0, 0.7);
  color: rgb(255, 255, 255);
}

.color img:hover{
  filter: grayscale(0%);
  filter: gray;
  filter: grayscale(0%);
  filter: none;
  transition: 1s ease;
  }

.column .color:hover .caption {
  transform: translateY(0%);

}


@media screen and(max-width: 400px) {
  .column {

    display: grid;
    grid-template-columns: 1fr;
  }

  .color img{
    filter: none;
    -webkit-filter: none;
    transition: none;
    }
}


