
.gear-card{
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  margin-top: 50px;
  height: 100%;
  width: 100vw;
  
  text-align: center;
  padding: 0;
    
  }
  
  .add-to-cart-button {
    
    height: 50px;
    width: 150px;
    background-color: aquamarine;
    border: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;

    &:hover {
      background-color: purple;
      color: white;

    }
  
}
  .delete-gear-item {
    height: 50px;
    width: 150px;
    background-color: red;
    border: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;

    &:hover {
      background-color: purple;
      color: white;

    }
  
}

.gear-card img {
  width: 300px;
  height: 250px;
  align-self: center;
}

@media screen and(max-width: 400px) {
  .container{
    margin-top: 50px;
    height: 100%;
    width: 100vw;
    // padding-left: 15px;
    // padding-right: 10px;
    text-align: center;
    padding: 0;
    }

    .gear-card {
      display: grid;
      grid-template-columns: 1fr;
    }
    
    .add-to-cart-button {
      height: 50px;
      width: 150px;
      background-color: aquamarine;
      border: none;
      cursor: pointer;
      transition: 0.5s ease-in-out;
  
      &:hover {
        background-color: purple;
        color: white;
  
      }
    
  }
  
  .gear-card img {
    width: 75%;
    height: 75%;
    align-self: center;
  }


}
