// .home-content {
//   display: grid;
//   height: calc(100vh - 200px);
//   width: 100vw;
//   background-image: url(../../pictures/content/7922166_20210619085119035_1_XLARGE.jpg);
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
    

//   .home-content-wrapper {
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     background-color: rgba(0,0,0, 0.4);
//     width: 100%;
//     height: 50%;
//     padding: 20px;
//     margin-top: 20px;
//     font-weight: bolder;

//     .home-title {
//       color: white;
//       text-align: center;
//       font-size: 2em;
//     }
//   }

//   .zone-2 {
//     color: black;
//     display: block;
//     margin: 0 auto;
//     box-sizing: border-box;
//     max-width: 100%;
//     text-align: center;
//     padding: 50px 50px 50px 50px;
//     font-size: 1.1em;
//     background-color: white;
//     font-weight: bold;


//   }

// .home-content{
//     border: 1px solid #4cc9f0 ;
// }
// }




.home-content-container {
  font-family: "Exo", Sans-serif;  font-size: 3rem;
  color: black;
  font-size: 1.5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 

  .home-content {
    }

  .background-img {
    height: calc(100vh - 200px);
    width: 100vw;
    background-image: url(../../pictures/content/7922166_20210619085119035_1_XLARGE.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      
  }

  .slogan-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0,0,0, 0.4);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 10%;
    padding: 20px;

    .company {
      color: white;
      text-align: center;
      font-size: 2rem;
      text-transform: uppercase;
    }

    .slogan {
      font-weight: bold;
      margin-top: 10px;
      color: white;
      text-align: center;
      font-size: 1.5em;
    }
  }

  
  .carzone-2 {
    color: black;
    display: block;
    margin: 0 auto;
    
    max-width: 100%;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;


  }
  
}

@media screen and(max-width:850px) {
  .home-content {
    .slogan-container {
      top: 38%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 10%;
    }
    }
}


