.nav-wrapper {
  height: 130px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 100px;
  font-weight: bold;

  .nav-menu {
    padding-top: 25px;
  }

  .menu-icon {
    display: none;

    .responsive-icon {
        color: white;
    }
}


  .right-side {
    display: flex;
    align-items: center;
    justify-items: center;
  }

  a {
    color: #4cc9f0;
  }
  .nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: 0.5s ease-in-out;
    margin-right: 0px;
    text-transform: uppercase;
    font-size: 1.3em;
    text-decoration: none;
    text-align: center;
    width: 130px;
    color: blue;
    
    
  .neptune {
    width: 300px;
    margin-left: -70px;
  }

    &:hover {
      letter-spacing: 3px;

    }

    .nav-link-active {
      color: black;
      font-size: 1.1em;
    }

    .neptune {
      padding-left: 20px;
    }



    }
  }

  .HTlogo {
    padding-left: -50px;
    padding-top: -50px;
    text-align: left;
  }

  .HTlogo img {
    width: 175px;
    height: 150px;
  }
  
  

.cart {
  cursor: pointer;
  margin-left: 10px;
}
.cart span:nth-child(1) {
  font-size: 2rem;
  color: black;

  &:hover{
    color: red;
    transition: 0.5s;
    
  }
}
@media screen and(max-width:400px) {
  .nav-wrapper {
    height: 100%;
    width: none;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: -30px;

    .nav-link-wrapper{
      font-size: 1.5em;
      padding:3px 3px;
      .neptune {
          margin-left: -100px;
      }
    }

    .right-side {
      display: grid;
      grid-template-columns: 1fr;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .menu-icon {
      display: block;
      position: absolute;
      top: 8px;
      right: 40px;
      transform: translate(-100%, 50%);
      font-size: 1.4em;
      cursor: pointer;
  }

  
    .HTlogo {
      text-align: center;
    }
  
    .HTlogo img {
      width: 225px;
      height: 200px;
      margin-top: 20px;
    }
  }
  .cart {
    cursor: pointer;
  }
  .cart span:nth-child(1) {
    font-size: 2rem;
    color: black;
    text-align: center;
  
    &:hover{
      color: red;
      transition: 0.5s;
    }
  }
  .nav-menu {
    padding-top: 0px;
  }
 
}
